
.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.invisibleLine{
    fill: none;
    stroke: transparent;
    stroke-width: 15px;
}


#grid-container{
    width:100%;
    height: 100vh;
    margin:0;
    padding:0;
    z-index: 999;
    background-color: transparent;
}

/*#grid{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding:0;*/
/*}*/